{% load media_tags %}
{% if item.default_image and item.default_image.media_file.file_exists %}
    <img src="{% media_url item.default_image.media_file %}"
         alt="{{ item.name }}"
         class="w-full h-full object-cover fade-in" />
{% elif item.images.all.0 and item.images.all.0.media_file.file_exists %}
    <img src="{% media_url item.images.all.0.media_file %}"
         alt="{{ item.name }}"
         class="w-full h-full object-cover fade-in" />
{% else %}
    <div class="w-full h-full bg-white"></div>
{% endif %}
