{% extends "base.html" %}
{% load i18n %}
{% load lucide %}

{% block title %}All Collections{% endblock %}

{% block breadcrumbs %}
    <li>
        {# This is the active page, so we use a span #}
        <span class="inline-flex gap-2 items-center">
            {% lucide 'layout-list' size=16 %}
            All Collections
        </span>
    </li>
{% endblock breadcrumbs %}

{% block content %}

<div class="mb-8 flex items-center justify-between">
    <h1 class="text-3xl font-bold">All My Collections</h1>
    <a href="{% url 'collection_create' %}" class="btn btn-secondary btn-sm">
        {% lucide 'plus' size=16 class='mr-2' %} Create New Collection
    </a>
</div>

{% if collections %}
    <div class="flex flex-col gap-4">
        {% for collection in collections %}
            {% include "partials/_collection_list_item.html" with collection=collection %}
        {% endfor %}
    </div>
{% else %}
    <div class="card bg-base-100 shadow-sm">
        <div class="card-body items-center text-center">
            <h2 class="card-title">No Collections Yet</h2>
            <p>You haven't created any collections yet.</p>
            <div class="card-actions">
                <a href="{% url 'collection_create' %}" class="btn btn-secondary">
                    {% lucide 'plus' size=16 class='mr-2' %} Create Your First Collection
                </a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}