{% extends "allauth/layouts/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password Changed" %}{% endblock head_title %}

{% block allauth_content %}
<div class="flex justify-center">
    
    <div class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 text-center">
        
        <h2 class="fieldset-legend">{% trans "Success" %}</h2>

        <div class="py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-12 w-12 stroke-current text-success" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            
            <p class="text-sm mt-4">
                {% trans "Your password has been changed successfully." %}
            </p>
        </div>

        {# The primary call to action is now to log in with their new password #}
        <a href="{% url 'account_login' %}" class="btn btn-primary w-full">{% trans "Log In" %}</a>

    </div>
</div>
{% endblock allauth_content %}