{% extends "allauth/layouts/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block allauth_content %}
<div class="flex justify-center">
    <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Reset Password</legend>

            {% if form %}
                {# Explanatory text #}
                <p class="text-sm py-2">{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>

                {# Display any non-field errors #}
                {% if form.non_field_errors %}
                    <div class="alert alert-error my-2">
                        <span>{{ form.non_field_errors.as_text }}</span>
                    </div>
                {% endif %}

                {# Email Field #}
                <label class="label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {% render_field form.email type="email" class="input w-full" placeholder="Email Address" %}
                {% if form.email.errors %}
                    <div class="text-error text-sm mt-1">
                        {{ form.email.errors.as_text }}
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary mt-4 w-full">{% trans "Reset My Password" %}</button>
            
            {% else %}
                 {# This content is shown on the password_reset_done.html page by default #}
                 {# We can handle it here if we want, or create a separate template #}
                 <p>{% trans "We have sent you an email. Please contact us if you do not receive it within a few minutes." %}</p>
            {% endif %}

        </fieldset>
    </form>
</div>
<p class="text-center mt-4 text-sm">
    {% trans "Please contact us if you have any trouble resetting your password." %}
</p>

{% endblock allauth_content %}