{% extends "allauth/layouts/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password Reset Sent" %}{% endblock head_title %}

{% block allauth_content %}
<div class="flex justify-center">
    
    {# We use a <div> instead of a <fieldset> because there are no form inputs, #}
    {# but we apply the same classes for a consistent look and feel. #}
    <div class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        
        {# We use a heading with the same class as the <legend> for consistency #}
        <h2 class="fieldset-legend">{% trans "Check Your Email" %}</h2>

        <div class="text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-12 w-12 stroke-current text-success" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        </div>

        <p class="text-sm text-center">
            {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </p>

        <a href="{% url 'account_login' %}" class="btn btn-secondary mt-4 w-full">{% trans "Back to Login" %}</a>
    </div>
</div>
{% endblock allauth_content %}