{% extends "allauth/layouts/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Set New Password" %}{% endblock head_title %}

{% block allauth_content %}
    <div class="flex justify-center">
        <form method="post" action="{{ action_url }}" class="password_reset_from_key">
            {% csrf_token %}

            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
                <legend class="fieldset-legend">Set New Password</legend>

                {% if form %}
                    <p class="text-sm py-2">{% trans "Please choose your new password." %}</p>

                    {% if form.non_field_errors %}
                        <div class="alert alert-error my-2">
                            <span>{{ form.non_field_errors.as_text }}</span>
                        </div>
                    {% endif %}

                    {# New Password Field #}
                    <label class="label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                    {% render_field form.password1 class="input w-full" placeholder="New password" %}
                    {% if form.password1.errors %}
                        <div class="text-error text-sm mt-1">
                            {{ form.password1.errors.as_text }}
                        </div>
                    {% endif %}

                    {# Password Confirmation Field #}
                    <label class="label mt-2" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                    {% render_field form.password2 class="input w-full" placeholder="Confirm new password" %}
                    {% if form.password2.errors %}
                        <div class="text-error text-sm mt-1">
                            {{ form.password2.errors.as_text }}
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary mt-4 w-full">{% trans 'Change Password' %}</button>
                
                {% else %}
                    {# This block is shown after a successful password change #}
                    <p>{% trans 'Your password has been changed successfully.' %}</p>
                    <a href="{% url 'account_login' %}" class="btn btn-secondary mt-4 w-full">{% trans "Log In" %}</a>
                {% endif %}
            </fieldset>
        </form>
    </div>
{% endblock allauth_content %}